.nav-bar {
  display: flex;
  justify-content:space-around; 
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}
.nav-bar ul {
  list-style: none;
  margin: 0; 
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8vw; 
  font-size: 16px;
}

/* Esconde o menu hambúrguer em telas grandes */
.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.barra {
  width: 25px;
  height: 3px;
  background-color: #4a148c;
  margin: 5px 0;
  transition: 0.4s;
}


.logo {
  width: 80px;
  height: auto;
}

a {
  color: #4a218d;
  text-decoration: none;
 
}

a:hover{
  text-shadow: 0 0 8px #a855f7, 0 0 16px #9333ea, 0 0 24px #7e22ce;
}

@media (min-width: 1025px) {
    .nav-bar ul {
        gap: 100px; 
    }
}

/* Media Queries para Mobile e Tablet (Telas <= 768px) */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-bar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    right: 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logo {
    display: none;
    width: 35px;
    z-index: 1002;
  }

  /* Mostra o menu hambúrguer e o fixa no canto superior direito */
  .menu-hamburguer {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 1002;
  }
  /* Esconde a nav padrão em telas pequenas */
  .nav-bar ul {
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    position: fixed;
     height: 100vh; 
    top: 55px;
    left: 0;
    padding: 10px 5%;
     padding-top: 50px; 
      justify-content: flex-start;
    margin: 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .nav-bar li {
    margin: 2px 0;
  }

  .nav-bar .menu-aberto {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .itens-c.menu-aberto {
    gap: 70px;
  }

  body.menu-ativo main,
  body.menu-ativo footer {
    display: none;
  }

  body.menu-ativo {
    overflow: hidden;
  }
  /* media query para telas muito pequenas */

  @media (max-width: 480px) {
    .nav-bar ul {
      padding: 10px 5%;
    }

    .nav-bar li {
      margin: 5px 0;
    }

    .logo {
      width: 50px;
    }
  }
}
