.sec-produtos {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  margin-left: 200px;
}

.produtos-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;

}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  max-width: 852px; 
}

.sec-produtos h1 {
  font-size: 32px;
  font-weight: bold;
  color: #222;
  text-align: center;
  margin: 20px auto;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;

  width: 252px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
}

.card-imagem {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

.card:hover {
  transform: scale(1.05);
  border-color: #aaa;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #f4efec;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  height: 300px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  gap: 30px;
}

.modal-left img {
  width: 300px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.modal-right {
  text-align: left;
}

.modal-right h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.filtro {
  position: sticky;
  top: 30px;
  max-width: 300px;
  max-height: 600px;
  background: #f5f5f5;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  align-self: flex-start; 
}

.filtro p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.filtro-opcoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.filtro label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

.filtro button {
  align-self: flex-start;
  margin-top: 10px;
  padding: 8px 15px;
  background: #4a218d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.filtro button:hover {
  background: #d9d9d9;
  color: #4a218d;
}
